body {background-color:#e6e6e6; padding-top: 1%;}
h1 {text-align: center;}
a {color:#2574a9; text-decoration: none;}
a:hover {color:#34495e;}
a.tgc {
  user-select: none;
  background: rgba(3, 90, 142, 0.53);
  padding: 0.2em 0.5em;
  outline: none;
  border-radius: 5px;
  color: white;
}
a.tgc:hover { background: rgba(1, 66, 104, 0.53); }
.bigmaincontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
@media screen and (max-width: 850px) {.bigmaincontainer {display: grid; margin-left: 40px; }}
@media screen and (max-width: 460px) {.bigmaincontainer {margin-left: 0px; }}
.centr{
	cursor: default;
	background-color:#9db1cc;
	text-align: center;
	width: 100%;
	max-width: 370px;
	border-left: 3px solid #555;
	margin: 10px auto;
	padding: 5px;
	padding-bottom: 20px;
	padding-top: 20px;
}
@media screen and (max-width: 380px) {.centr {max-width: 330px;}}
.centr.code1 {background-color:#c2c2c2;}
.centr.code2 {background-color:#c8a99e;}
.centr.code3 {background-color:#c4ccaf;}
.centr.code4 {background-color:#64999c;}
.centr.code5 {background-color:#dedc8c;}
.centr.code6 {background-color:#c49b5c;}
.centr.code7 {background-color:#9db1cc;}
.centr.code8 {background-color:#c2c2c2;}
.centr.code9 {background-color:#c8a99e;}
.centr.code10 {background-color:#9db1cc;}
.centr.code11 {background-color:#dedc8c;}
.centr.code12 {background-color:#c49b5c;}
.centr.code13 {background-color:#c4ccaf;}
.centr.code14 {background-color:#c8a99e;}
.centr.code15 {background-color:#64999c;}
.centr.code16 {background-color:#dedc8c;}
.centr.code17 {background-color:#c2c2c2;}
.centr.code18 {background-color:#c4ccaf;}
.centr.code19 {background-color:#9db1cc;}
.footer {margin-top: 25px; text-align: center;}
.footer > font {font-size:0.8em;}
.footer > hr {height: 1px;background-color: #d9d9d9;border: none;}
